In [2]:
import pandas as pd
mydf = pd.read_csv(r'C:\Users\OpenCapital121\Desktop\vgsales.csv')
mydf.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
mydf.describe()

In [6]:
mydf.values
#returns array

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

In [13]:
from sklearn.tree import DecisionTreeClassifier
music_data = pd.read_csv(r'C:\Users\OpenCapital121\Desktop\music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [12]:
#splitting data set input and output sets
#input set
x = music_data.drop(columns = ['genre'])
#output set
y = music_data['genre']

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [14]:
#setting up a model
model = DecisionTreeClassifier()
#training the model using the input and output sets
model.fit(x,y)
#prediction for a 21 year old male and a 22 year old female
model.predict([[21,1],[22,0]])

array(['HipHop', 'Dance'], dtype=object)

In [25]:
#calculating the accuracy of the model
#first we split the data 80% data for training and 20% for testing
from sklearn.model_selection import train_test_split
# the train_test_split has the option called random_size() of ensuring that the split is done onceand will remain that way
train_test_split(x,y, test_size = 0.2,random_size(1))
#the above method returns a tuple of four data sets
#we can assigne variables to the tuples as
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2)
#now we fit a model with only the training data
model.fit(x_train,y_train)
# for predictions we use x_test
prediction = model.predict(x_test)
prediction

DecisionTreeClassifier()

In [27]:
#storing models in files
from joblib import dump, load
dump(model,'music-recomender.joblib')

['music-recomender.joblib']

In [22]:
#now to check the accuracy
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, prediction)
acc_score

1.0

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\OpenCapital121\anaconda3\lib\site-packages\sklearn\externals\__init__.py)